body{
    font-family: 'Rubik';
    overflow-x: hidden;
}
#nav1{
    margin-top: 4rem;
}
.navbar{
    background-color: #1d3557;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.nav-link {
    color: #afafaf;
}
.nav-link:hover{
    color: #1d3557;
}
.tex{
    color: #afafaf;
}
.lod{
    width: 100px;
}



.one{
    background-color: #f1faee;
}
.ht{
    margin-top: 5vh;
    text-align: center;
    color:#1d3557 ;
}

.featurette-heading{
    color: #1d3557;
}
.lead{
    color: #9b9b9b;

}
.imgd{
    width: 25rem;
    height: 25rem;
    background-position:center;
    background-size: cover;
    border-radius: 100% 100% 100% 00%;
    

}

.imgd-1{
    width: 25rem;
    height: 25rem;
    background-position:center;
    background-size: cover;
    border-radius: 100% 00% 100% 100%;

    
}

.hero1{
    padding: 40px 0px;
    background-color: #eeeeee;
}

.a{
    background-color: #1d3557;
    padding: 10px;

}
.a h3{
    color: white;
    font-family: 'Rubik';
    font-weight:lighter;
    font-size:medium;
}
.card-title{
    color: #1d3557;
}
.foote{
    background-color: #1d3557;
}